<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrega Final</title>
</head>
<body>
    <div>
        <h1 style="color: red;">SERVER INFO:</h1>
        <br>
    <ul>
        <li >
            <h3>PORT</h3>
            <h4 style="color: blue;"><%=config.PORT%></h4>
        </li>
        <li >
            <h3>ENVIRONMENT MODE</h3>
            <h4 style="color: blue;"><%=config.ENVIRONMENT_MODE%></h4>
        </li>
        <li >
            <h3 >NOTIFICATION MAIL</h3>
            <h4 style="color: blue;"><%=config.GMAIL_MAIL%></h4> 
        </li>
        <li >
            <h3 >SESSION EXPIRATION TIME</h3>
            <h4 style="color: blue;"><%=config.SESSION_TIME%> mseg</h4> 
        </li>
    </ul>
    </div>
</body>
</html>