{{#each messagesArray}}

  <div class='message'>
    <span class='message-date d-flex'>
      <strong class='userEmail'>{{author.userEmail}}</strong>
      <p class='chatDate'> [{{time}}] :</p>
      <em class='userMessage'> {{text}}</em>
      <img style="width: 20px; height: 20px" src="{{author.avatar}}" alt="">
    </span>
  </div>

{{/each}}