{{#each products}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.price}}</td>
        <td><img style="width: 100px; height: 100px" src="{{this.photoURL}}" alt=""></td>
    </tr>
{{/each}}